* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 161, 110);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 500px;
    height: 700px;
    background-color: rgb(53, 61, 59);
    border: 3px solid rgb(71, 82, 75);
    box-shadow:  0px 0px 15px rgb(71, 82, 75) inset;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.tela {
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tela input {
    width: 80%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    outline: none;
    font-size: 35px;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 10px solid rgb(71, 82, 74);
    background-color: rgb(223, 243, 233);
    box-shadow:  0px 0px 10px rgb(71, 82, 74) inset;
}

.botoes {
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.numeros {
    width: inherit;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.botao {
    width: 30%;
    margin: 5px;
    height: auto;
    border-radius: 0.8rem;
    background-color: rgb(51, 51, 51);
    box-shadow:  0px 0px 10px rgb(71, 82, 74) inset;
    border: 2px solid rgb(71, 82, 74);
    font-size: 25px;
    color: rgb(229, 255, 243);
    transition: 200ms;
    cursor: pointer;
}

.botao:active {
    background-color: rgb(0, 131, 63);
}

.operacoes {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.operacoes .botao {
    width: 90%;
    height: 80px
}

#soma {
    height: 200px;
    background-color: rgb(0, 206, 120);
}

#soma:active {
    background-color: rgb(0, 131, 63);
}